$black-color: #0c0c0c;
$super-light-grey-color: rgba(0, 0, 0, 0.07);
$light-grey-color: rgb(150, 150, 150);
$grey-color: rgb(80, 80, 80);
$orange-color: rgb(218, 57, 17);
$white-color: #ffffff;

$max-sm-screen-size: 640px;
