$bg-color: #fff;
$black-color: #171513;
$link-color: #978e8c;
$link-color-active: #fff;
$action-color-orange: #ee3b00;
$white-color: #fff;
$service-col-border-color: #47433f;
$heading-color-2: #484340;
$para-color: #575250;
$grey-color: #f7f7f7;
$heading-color-h3: #484340;
$heading-color-h1: #fff;
$testimonial-text-color: #81736f;
$user-name-color: #575350;
$user-desig-color: #948884;
$footer-text-color: #afa5a3;
$text-field-color: #877a76;
