/* Header */

.toolbar-horizontal {
  margin-top: rem(-79);
  margin-right: 0;
  margin-left: 0;
  @media (max-width: 456px) {
    margin-top: rem(-79px);
    margin-right: 0;
    margin-left: 0;
  }
}
.header {
  position: absolute;
  left: 0;
  top: rem(79);
  width: 100%;
  background-color: $bg-primary;
  height: rem(68);
  z-index: $z-201;
  @media (max-width: 456px) {
    top: 0;
  }
  h3 {
    font-size: em(16px);
    line-height: 1.5;
    font-family: $font-mont;
    text-transform: uppercase;
    color: $whiter;
    margin-top: rem(21);
    margin-left: rem(83);
    z-index: $z-184;
    @media (max-width: 456px) {
      text-align: center;
      margin-right: rem(65);
    }
  }
    span.logo {
      color: $bg-btn;
      font-size: em(16);
      line-height: 1.5;
      font-family: $font-mont;
      text-transform: uppercase;
    }
  }
