/* Service Listing */

.layout-container {
  position: relative;
  min-height: 100%;
}
.layout-content {
  overflow: hidden;
  padding-bottom: rem(99);
  min-height: 100%;
}
.banner {
  position: relative;
  height: rem(700);
  margin-top: rem(143);
  @media (max-width: 456px) {
    height: rem(597);
    margin-top: rem(143);
  }
  .field--name-field-banner {
    background-size: cover;
    background-position: center center;
    margin-top: rem(-300);
    img {
      width: 100%;
      height: auto;
      @media (max-width: 456px) {
        width: auto;
        height: auto;
      }
    }
    @media (max-width: 456px) {
      margin-top: rem(-355);
      margin-left: rem(-450);
    }
  }
  .field--name-field-title {
    font-size: em(36);
    @include font-family(500);
    color: $whiter;
    text-align: center;
    position: absolute;
    top: rem(131);
    margin-left: rem(332);
    margin-right: rem(385);
    z-index: $z-5;
    @media (max-width: 456px) {
      margin-right: 0;
      margin-left: 0;
      top: 0;
    }
  }
    .field--name-field-icon-with-text {
      position: relative;
      background: url('../../images/rounded.png') no-repeat;
      height: rem(183);
      width: rem(182);
      top: rem(249);
      text-align: center;
      padding-top: rem(38);
      display: inline-block;
      left: rem(390);
      margin-right: rem(22);
      font-size: em(16);
      @include font-family(500);
      color: $whiter;
      text-align: center;
      z-index: $z-16;
      img {
        @media (max-width: 456px) {
          height: rem(38);
          width: rem(38);
          margin-top: rem(-23);
          margin-left: rem(35);
        }
      }
      @media (max-width: 456px) {
        position: relative;
        background-image: none;
        border: 1px solid $icon-border;
        display: block;
        height: rem(20);
        width: rem(345);
        top: rem(168);
        margin-bottom: rem(10);
        margin-left: rem(-340);
        text-align: left;
      }
    }
  }
.icon-label {
  font-size: em(16);
  font-family: $font-mont;
  line-height: 1.2;
  text-align: center;
  margin-top: rem(10);
  margin-left: rem(5);
  @media (max-width: 456px) {
    margin-top: rem(-32);
    margin-left: rem(-50);
    z-index: $z-8;
  }
}




