<form class="work-form d-flex flex-wrap" role="form" aria-label="form">
    <div class="work-form__group work-form--mod1">
        <input type="text" class="work-form__input" name="" id="" placeholder="Fullname">
    </div>
    <div class="work-form__group work-form--mod2">
        <input type="email" class="work-form__input" name="" id="" placeholder="Email Address">
    </div>
    <div class="work-form__group work-form--mod3">
        <input type="tel" class="work-form__input" name="" id="" placeholder="Phone Number">
    </div>
    <div class="work-form__group work-form--mod4">
        <textarea name="" class="work-form__input work-form__input--textarea" id="" placeholder="Message in brief"></textarea>
    </div>
    <div class="work-form__submit work-form--mod5">
        <button type="submit" class="btn btn--big">Submit</button>
    </div>
</form>