<a href="">
    <span class="banner_service-icon banner_service--icon1" aria-label="A icon with some people standing and a check at front on them. All are in red color" role="img"></span>
    <span class="banner__service-text">Name</span>
</a>
<a href="">
    <span class="banner_service-icon banner_service--icon2" aria-label="A icon with half gear look like a table and 3 people are behind it. All in red color" role="img"></span>
    <span class="banner__service-text">Service Name</span>
</a>
<a href="">
    <span class="banner_service-icon banner_service--icon3" aria-label="A icon with folder outline with a gear in circle at bottom right. All are in red color" role="img"></span>
    <span class="banner__service-text">Service Name</span>
</a>