<div class="testimonial__box">
    <div class="testimonial__boxin">
        <div class="testimonial__card">
            <blockquote class="testimonial__text">Mauris at quam at mauris venenatis eleifend. Nullam eleifend odio a pretium dignissim. Aenean non rhoncus quam.</blockquote>
        </div>
        <div class="testimonial__author">
            <div class="d-flex align-center">
                <div><img src="images/testimonial-author-placeholder.png" alt="Testimonial author image"></div>
                <div class="testimonial__author-about">
                    <h4 class="testimonial__author-name">Clinet Name</h4>
                    <span class="testimonial__author-position">Position, ORG</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial__box">
    <div class="testimonial__boxin">
        <div class="testimonial__card">
            <blockquote class="testimonial__text">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est.</blockquote>
        </div>
        <div class="testimonial__author">
            <div class="d-flex align-center">
                <div><img src="images/testimonial-author-placeholder.png" alt="Testimonial author image"></div>
                <div class="testimonial__author-about">
                    <h4 class="testimonial__author-name">Clinet Name</h4>
                    <span class="testimonial__author-position">Position, ORG</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial__box">
    <div class="testimonial__boxin">
        <div class="testimonial__card">
            <blockquote class="testimonial__text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</blockquote>
        </div>
        <div class="testimonial__author">
            <div class="d-flex align-center">
                <div><img src="images/testimonial-author-placeholder.png" alt="Testimonial author image"></div>
                <div class="testimonial__author-about">
                    <h4 class="testimonial__author-name">Clinet Name</h4>
                    <span class="testimonial__author-position">Position, ORG</span>
                </div>
            </div>
        </div>
    </div>
</div>