<section class="banner d-flex justify-center color-white" role="banner">
    <div class="container">
        <h1 class="banner__title" aria-label="Integer bibendum sit amet arcu vel egestas">Integer bibendum sit amet  arcu vel egestas.</h1>
        <%= serviceName %>
        <div class="banner__services" aria-label="Services">
            {% include '_services.twig' %}
        </div>
    </div>
</section>