<section id="section2" class="sections" role="about">
    <div class="container d-grid grid--6-4">
    <div>
        <h2 class="h2">Mauris id bibendum est. Proin dapibus sollicitudin iaculis, Maecenas condimentum maximum loreet.</h2>
        <p>Etiam euismod augue sed enim vulputate, rutrum fermentum tortor finibus. Integer ut augue in quam commodo bibendum vel a purus. Nunc eu nulla feugiat, luctus dui nec, consequat lectus. Praesent interdum pretium pellentesque. Sed sem enim, facilisis nec euismod ut, lobortis sed felis. Cras et purus sed magna tempor efficitur. Nam imperdiet placerat eros non placerat. Donec id lacus ligula. Vivamus porta tempor convallis. Cras iaculis feugiat dolor, sed consequat est gravida nec. In id augue non nibh eleifend luctus. Donec lobortis et enim quis sodales. Vestibulum et lorem lacus.</p>
    </div>
    <div>
        <img id="map" class="img-responsive lazy" src="images/about-map.jpg" alt="map" role="img">
    </div>
    </div>
</section>