<ul id="mainNav" class="nav__list" aria-hidden="false">
    <li class="nav__item nav--has-submenu" aria-haspopup="true"><a href="">About <i class="nav__item-down"></i></a>
        <ul class="nav__sub-list" data-test="true" aria-hidden="true">
            <li><a href="" tabindex="-1">Our Story</a></li>
            <li><a href="" tabindex="-1">Why Copmany</a></li>
            <li><a href="" tabindex="-1">Success Stories</a></li>
            <li><a href="" tabindex="-1">Careers</a></li>
        </ul>
    </li>
    <li class="nav__item nav--has-submenu" aria-haspopup="true"><a href="">Services <i class="nav__item-down"></i></a>
        <ul class="nav__sub-list" data-test="true" aria-hidden="true">
            <li><a href="" tabindex="-1">Staffing</a></li>
            <li><a href="" tabindex="-1">Delivery Support</a></li>
            <li><a href="" tabindex="-1">Project Management</a></li>
        </ul>
    </li>
    <li class="nav__item nav--has-submenu" aria-haspopup="true"><a href="">Solutions <i class="nav__item-down"></i></a>
        <ul class="nav__sub-list" data-test="true" aria-hidden="true">
            <li><a href="" tabindex="-1">CMS Solutions</a></li>
            <li><a href="" tabindex="-1">DevOps</a></li>
            <li><a href="" tabindex="-1">Marketing</a></li>
            <li><a href="" tabindex="-1">Quality Assurance</a></li>
        </ul>
    </li>
    <li class="nav__item"><a href="">Blog</a></li>
</ul>
