<div class="about-container">
    {% include "_featured_services.html.twig" %}
    {% include "_about_section2.html.twig" %}
    {% include "_testimonials.html.twig" %}
    {% include "_get_client_info.html.twig" %}
</div>