<div class="featured-services">
    <h3>Integer bibendum sit admen forem acu vel opiu nhj</h3>
    <div class="about-service-container">
        {% include "_about_service.html.twig" with {'service_name': 'Service 1', 'service_icon': 'assets/images/about-service1.png'} %}
        {% include "_about_service.html.twig" with {'service_name': 'Service 2', 'service_icon': 'assets/images/about-service2.png'} %}
        {% include "_about_service.html.twig" with {'service_name': 'Service 3', 'service_icon': 'assets/images/about-service3.svg'} %}
    </div>
</div>