<footer class="footer ">
<div class="wrapper-fixedwidth">

<div class="copy-info">&copy; 2017 Company. All Rights Reserved.</div>
<div class="social-icons">
<span>Follow us on:</span>
<a href="#" class="fb"></a>
<a href="#" class="in"></a>
<a href="#" class="tw"></a>
<a href="#" class="mail"></a>



</div>
</div>






</footer>