<footer class="footer" role="footer">
    <div class="container">
        <div class="d-flex justify-between align-center flex-column_m">
        <div class="footer__copy">&copy; 2017 Company. All Rights Reserved.</div>
        <div class="d-flex align-center">Follow us on: 
            <ul class="social-list d-flex" role="socail links" aria-label="Social links">
            <li class="social-list__fb"><a href=""><span></span></a></li>
            <li class="social-list__linkedin"><a href=""><span></span></a></li>
            <li class="social-list__twitter"><a href=""><span></span></a></li>
            <li class="social-list__email"><a href=""><span></span></a></li>
            </ul>
        </div>
        </div>
    </div>
</footer>