<div class="footer-container">
    <p class="copyright-text">&copy; 2017 Company. All Rights Reserved</p>
    <div class="social-buttons-container">
        Follow us on:
        {% include "_social_btn.html.twig" with { 'social_name': 'facebook', 'social_link': '#', 'social_icon': 'assets/images/facebook-icon.jpg'} %}
        {% include "_social_btn.html.twig" with { 'social_name': 'linkedin', 'social_link': '#', 'social_icon': 'assets/images/linkedin-icon.png'} %}
        {% include "_social_btn.html.twig" with { 'social_name': 'twitter', 'social_link': '#', 'social_icon': 'assets/images/twitter-icon.png'} %}
        {% include "_social_btn.html.twig" with { 'social_name': 'gmail', 'social_link': '#', 'social_icon': 'assets/images/gmail-icon.png'} %}
    </div>
</div>