<section class="global-position">
<div class="wrapper-fixedwidth">
<div class="row">
<div class="column--grid-6">
<h2 class="heading-color-h2">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's</h2>
<p class="para--color">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature,</p>
</div>

<div class="column--grid-6" role="img" aria-label="Global presnece in various countries">
<img src="images/map.jpg" alt="map" alt="title" class="image-responsive" />
</div>
</div>
</div>

</section>