<header class="header">
    <div class="wrapper-fixedwidth">
            <a href="#" class="float-left hamburger-menu visible-small-devices"></a>
        <a href="#" class="float-left logo" role="img" aria-label="Company logo"><img src="images/logo.png" alt="company logo" title="company logo"/></a>
            <div class="text--align-right header-right hide-small-devices">
                <div class="nav" role="navigation" aria-label="Main navigation">
                <a href="#" class="active">About</a>
                <a href="#">Services</a>
                <a href="#">Solutions</a>
                <a href="#">Blog</a>
                </div>

                <div class="action--color-orange comment-box action--box-rounded">
                    <a href="#" role="button" aria-describedby="info">
                        <span class="icon-comment"></span>
                        <span id="info">Get In Touch</span>
                    </a>
                </div>
                
            </div>
            <a href="#" class="visible-small-devices float-right margin--top-10" role="button" aria-label="Get In Touch">
                <span class="icon-comment"></span>
                </a>
    </div>
</header>