<div id="header" class="header-container">
    <img class="company-logo" src="assets/images/company-logo.png" alt="Company Logo">
    <div class="navbar-container">
        <ul>
            <li>
                <a class="nav-links is-active" href="#">About</a>
            </li>
            <li>
                <a class="nav-links" href="#">Services</a>
            </li>
            <li>
                <a class="nav-links" href="#">Solutions</a>
            </li>
            <li>
                <a class="nav-links" href="#">Blog</a>
            </li>
        </ul>
        {% include "_orange_button.html.twig" with {'button_text': 'Get in Touch', 'button_link': '#', 'button_image_src': 'assets/images/chat-icon.png'}%}
        
    </div>
</div>
{% block javascript %}
    <script src="header.js"></script>
{% endblock %} 