<div id="header" class="header-container">
    <img class="company-logo" src="assets/images/company-logo.png" alt="Company Logo">
    <div class="navbar-container">
        <ul>
            <li>
                <a class="nav-links is-active" href="#">About</a>
            </li>
            <li>
                <a class="nav-links" href="#">Services</a>
            </li>
            <li>
                <a class="nav-links" href="#">Solutions</a>
            </li>
            <li>
                <a class="nav-links" href="#">Blog</a>
            </li>
        </ul>
        <a class="get-in-touch-btn" href="">Get in Touch</a>
    </div>
</div>
{% block javascript %}
    <script src="header.js"></script>
{% endblock %} 