<section class="home-services" role="img" aria-label="Image of people working">
<!--img src="images/bg_services.jpg" class="image-responsive"/ -->
<div class="wrapper-fixedwidth">
<div class="services-container">
<h1 class="text--align-center heading-color-h1">
Integer bibendum st amet <br class="visible-large-devices">arcu vel egestas.
</h1>
<div class="service-section-row flex--justify-center">

<div class="service-section-col">
<div class="">
<span><img src="images/service_name1.png" alt="Service name" title="Service Name" class="image-responsive"></span>
<span role="img" aria-label="Service Name">Service Name</span>
</div>
</div>
<div class="service-section-col">
<div class="">
<span role="img" aria-label="Service Name"><img src="images/service_name2.png" alt="Service name" title="Service Name" class="image-responsive"></span>
<span>Service Name</span>
</div>
</div>
<div class="service-section-col">
<div class="">
<span role="img" aria-label="Service Name"><img src="images/service_name3.png" alt="Service name" title="Service Name" class="image-responsive"></span>
<span>Service Name</span>
</div>
</div>

</div>


</div>
</div>


</section>