<section class="banner">
      <div class="banner-holder">
        <!-- <img
          class="img-fluid banner-img"
          src="./assets/image/banner-img.jpg"
          alt="banner-image"
        /> -->
        <div class="banner-caption">
          <h1 class="banner-text">
            Integer bibendum sit amet arcu vel egestas.
          </h1>
          <div class="d-block d-sm-flex justify-content-around align-items-center">
            <div class="banner-box">
              <img src="./assets/image/staff1.png" alt="service name in banner" />
              <p class="banner-box-text">Service Name</p>
            </div>
            <div class="banner-box">
              <img src="./assets/image/staff2.png" alt="service name in banner" />
              <p class="banner-box-text">Service Name</p>
            </div>
            <div class="banner-box">
              <img src="./assets/image/staff3.png" alt="service name in banner" />
              <p class="banner-box-text">Service Name</p>
            </div>
          </div>
        </div>
        <div id="sd-container">
          <div class="sd-text">Scroll Down</div>
          <div class="arrow"></div>
        </div>
      </div>
    </section>