<section class="contact-us" id="contact">
      <div class="container">
        <h3 class="contact-title">Convinced To Work With Us?</h3>
        <p class="contact-subtitle">Company has helped agencies keep their promises to clients since 2005.</p>

        <form class="w-100 w-sm-75 m-auto">
            <div class="row">
              <div class="col-12 col-sm-4 mb-3">
                  <!-- <label class="d-none" for="Fullname">Enter your Fullname</label>  -->
                <input type="text"  aria-labelledby="Fullname" class="form-control" id="Fullname"  aria-placeholder="Fullname" placeholder="Fullname">
              </div>
              <div class="col-12 col-sm-4 mb-3">
                  <!-- <label class="d-none" for="email">Enter your Email Address</label>  -->
                <input type="text" aria-labelledby="email" class="form-control" id="email" aria-placeholder="Email Address" placeholder="Email Address">
              </div>
              <div class="col-12 col-sm-4 mb-3">
                  <!-- <label class="d-none" for="phone">Enter your Phone Number</label>  -->
                <input type="text" aria-labelledby="phone"  class="form-control" id="phone" aria-placeholder="Phone Number" placeholder="Phone Number">
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-12 mb-3">
                  <!-- <label class="d-none" for="message">Enter your Message in brief</label>  -->
                  <textarea class="form-control" id="message" rows="3" aria-labelledby="message" aria-placeholder="Message in brief" placeholder="Message in brief"></textarea>
              </div>
            </div>
            <div class="row justify-content-center"><button type="submit" class="col-2 col-sm-1 btn btn-primary">Submit</button></div>
          </form>
      </div>
    </section>