<footer>
      <div class="container">
        <div class="d-block d-sm-flex py-1 py-sm-4">
          <div class="col-12 col-sm-6 mb-3 mb-sm-0">
            <div class="footer-copyright text-center text-sm-left">© 2017 company. All Rights Reserved.</div> 
          </div>
          <div class="col-12 col-sm-6 text-center text-sm-right">
            <ul class="list-inline social-link mb-0">
              <li class="list-inline-item">Follow Us on: </li>
              <li class="list-inline-item"><a href="#" title="Go to Facebook"><i class="fa fa-facebook-square"></i></a></li>
              <li class="list-inline-item"><a href="#" title="Go to linkedin"><i class="fa fa-linkedin-square"></i></a></li>
              <li class="list-inline-item"><a href="#" title="Go to twitter"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" title="Go to Email"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>