 <header>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation for mobile">
                <span class="navbar-toggler-icon"></span>
              </button>

          <a class="navbar-brand" title="logo for website" href="#">
            <img src="./assets/image/logo.png" alt="logo for website"  class="img-fluid">
          </a>
          
          <a title="Go to Email" class="nav-link btn-primary d-block d-sm-none" href="#"> <i class="fa fa-comment-o" aria-hidden="true"></i> </a>

          <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto align-items-center">              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"  title="Go to About" href="#" id="aboutdrop" data-toggle="dropdown">
                  About
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" title="Go to Our Story" href="#">Our Story</a>
                  <a class="dropdown-item" title="Go to Why Company" href="#">Why Company</a>
                  <a class="dropdown-item" title="Go to Success Stories" href="#">Success Stories</a>
                  <a class="dropdown-item" title="Go to Career" href="#">Career</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" title="Go to Services" href="#" id="servicedrop" data-toggle="dropdown">
                  Services
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" title="Go to Link 1" href="#">Link 1</a>
                  <a class="dropdown-item" title="Go to Link 2" href="#">Link 2</a>
                  <a class="dropdown-item" title="Go to Link 3" href="#">Link 3</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" title="Go to Solutions" id="solutiondrop" data-toggle="dropdown">
                  Solutions
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" title="Go to Link 1" href="#">Link 1</a>
                  <a class="dropdown-item" title="Go to Link 2" href="#">Link 2</a>
                  <a class="dropdown-item" title="Go to Link 3" href="#">Link 3</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" title="Go to Blog" href="#">Blog</a>
              </li>
              <li class="nav-item d-none d-md-block">
                <a class="nav-link btn-primary" title="Go to Get in Touch" href="#"> <i class="fa fa-comment-o" aria-hidden="true"></i> Get in Touch</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>