<section class="success-stories" id="success-stories">
      <div class="container">
          <h3 class="success-title">Our Success Stories</h3>
          <p class="success-subtitle">Here are some of the greatest works from our arsenal</p>
        <div class="d-block d-sm-flex mx-0">
          <div class="col">
            <div class="card">
              <img
                class="card-img-top"
                src="./assets/image/success-story.png"
                alt="Card image cap"
              /> 
              <div class="centered d-none d-sm-block">270*150</div>
              <div class="centered d-block d-sm-none">345*150</div>
              <div class="card-body px-0">
                <h5 class="card-title">
                  Mauris at quam at mauris venenatis eleifend eleifend odio a
                  pretium
                </h3>
                <p class="card-text">Service / Solution Name.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img
                class="card-img-top"
                src="./assets/image/success-story.png"
                alt="Card image cap"
              />
              <div class="centered d-none d-sm-block">270*150</div>
              <div class="centered d-block d-sm-none">345*150</div>
              <div class="card-body px-0">
                    <h5 class="card-title">
                  Mauris at quam at mauris venenatis eleifend eleifend odio a
                  pretium
                </h3>
                <p class="card-text">Service / Solution Name.</p>
              </div>
            </div>
          </div>
          <div class="col d-none d-sm-block">
            <div class="card">
              <img
                class="card-img-top"
                src="./assets/image/success-story.png"
                alt="Card image cap"
              />
              <div class="centered d-none d-sm-block">270*150</div>
              <div class="centered d-block d-sm-none">345*150</div>
              <div class="card-body px-0">
                <h5 class="card-title">
                  Mauris at quam at mauris venenatis eleifend eleifend odio a
                  pretium
                </h3>
                <p class="card-text">Service / Solution Name.</p>
              </div>
            </div>
          </div>
          <div class="col d-none d-sm-block">
            <div class="card">
              <img
                class="card-img-top"
                src="./assets/image/success-story.png"
                alt="Card image cap"
              />
              <div class="centered d-none d-sm-block">270*150</div>
              <div class="centered d-block d-sm-none">345*150</div>
              <div class="card-body px-0">
                    <h5 class="card-title">
                  Mauris at quam at mauris venenatis eleifend eleifend odio a
                  pretium
                </h5>
                <p class="card-text">Service / Solution Name.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>