.featured-services {
  background-image: url('assets/images/featured-services-bg.jpg');
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 150px 0px;
  color: $white-color;
  > h3 {
    margin: auto;
    display: block;
    max-width: 400px;
    text-align: center;
    @media screen and (max-width: $max-sm-screen-size) {
      max-width: 95%;
    }
  }
  .about-service-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: $max-sm-screen-size) {
      flex-direction: column;
      align-items: center;
    }
    .about-service {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 160px;
      padding-top: 25px;
      margin-right: 20px;
      border: 1px solid $light-grey-color;
      border-radius: 4px;
      @media screen and (max-width: $max-sm-screen-size) {
        width: 85%;
        flex-direction: row;
        justify-content: flex-start;
        padding: 10px 15px 10px 25px;
        margin-bottom: 12px;
        margin-right: unset;
      }
      img {
        width: 75px;
        @media screen and (max-width: $max-sm-screen-size) {
          width: 50px;
          margin-right: 20px;
        }
      }
      h5 {
        margin-top: 15px;
      }
    }
  }
}
