.about-container {
  .featured-services {
    background-image: url('assets/images/featured-services-bg.jpg');
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0px 150px 0px;
    color: $white-color;
    > h3 {
      margin: auto;
      display: block;
      max-width: 400px;
      text-align: center;
    }
    .about-service-container {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      .about-service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 160px;
        padding-top: 25px;
        margin-right: 20px;
        border: 1px solid $light-grey-color;
        border-radius: 5px;
        img {
          width: 75px;
        }
        h5 {
          margin-top: 15px;
        }
      }
    }
  }

  .about-section2 {
    background: $white-color;
    display: flex;
    padding: 10px 80px;
    .about-section2-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 40px;
      h3 {
        max-width: 600px;
      }
      p {
        max-width: 700px;
      }
    }
    .world-map-image {
      flex: 1;
    }
  }
}
