/* Contact Form */

.contact-form {
  position: absolute;
  top: rem(184);
  left: rem(265);
  z-index: $z-154;
  @media (max-width: 456px) {
    top: rem(245);
    left: rem(22);
  }
  input[type = "text"],
  input[type = "email"],
  input[type = "number"] {
    padding: rem(10) 0;
    width: 89%;
    @media (max-width: 456px) {
      padding: rem(10) 0;
      width: 100%;
      margin-top: rem(8);
    }
  }
  input::-webkit-input-placeholder {
    font-family: $font-mont;
    color: $lighter-gray !important;
    font-size: em(14);
    line-height: 3.2;
    text-align: left;
  }
    textarea::-webkit-input-placeholder {
      font-family: $font-mont;
      color: $lighter-gray !important;
      font-size: em(14);
      line-height: 3.2;
      text-align: left;
    }
  }
  textarea#edit-message {
    padding: rem(10) 0;
    width: 96.7%;
    @media (max-width: 456px) {
      width: 100%;
      margin-top: rem(8);
    }
  }
  .webform-flex--container {
    margin: 0;
  }



