/* Navigation Menu */

#block-mainnavigation {
  position: absolute;
  bottom: 26px;
  right: 275px;
  ul {
    list-style-type: none;
    li {
      float: right;
      a {
        display: inline-block;
        @include font-size(16px, 1.2);
        @include font-family(500);
        color: $text-footer;
        text-align: left;
        text-decoration: none;
        padding: 0px 22px;
        &:hover {
          color: $text-footer;
          @include font-size(14px, 3);
          @include font-family(400);
          text-align: left;
          }
        &:active {
          color: $whiter;
        }
        }
      }
    }
  }




