// Define theme colors here.

/* Variables */

// Colors
$bg-primary: #171715;
$text-footer: rgb(175, 165, 163);
$lighter-gray: rgb(129, 115, 111);
$bg-btn: rgb(240, 59, 0);
$white: #fff;
$whiter: rgb(255, 255, 255);
$darker: rgb(72, 67, 64);
$bg-lightest: #F5F5F6;
$icon-border: #373330;