/* Social Media Icons */

.social-media-links--platforms {
  position: absolute;
  top: em(-3);
  right: 0;
  @media (max-width: 456px) {
    position: absolute;
    top: em(-3);
    right: em(-10);
  }
  li {
    a {
      > span.fa-facebook, .fa-linkedin {
        background-color: $text-footer;
        width: em(16);
        height: em(14);
        z-index: $z-233;
        color: $darker;
      }
      >span.fa-twitter, .fa-envelope {
        color: $text-footer;
      }
      .fa-2x {
        font-size: 1em;
      }
    }
  }
}






