.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 25px 80px;
  align-items: center;
  background: $black-color;
  @media screen and (max-width: $max-sm-screen-size) {
    flex-direction: column;
    padding: 25px 10px;
  }
  .copyright-text {
    color: $light-grey-color;
  }
  .social-buttons-container {
    color: $light-grey-color;
  }
}
